.app{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color: aqua;
  height:100vh;
  background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(15, 5, 20, 0.84)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsbaCsIbi9x_dxsTNGEcJ_ldWPWLJf5LJETw&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

.app__form > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.app__form > form >input{
    height: 5vh;
    width: 20vw;
    margin: 5px;
}

.app__button > button{
  background: transparent;
  color: aliceblue;
  font-size:36px;
  margin: 5px;
}